@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
img {
	max-width: 100%;
}
a img {
	border: none;
}
body{
	background-color: #f3f3f3;
}
.container {
	max-width: 960px;
}
.search-list {
	overflow-y: scroll;
	width: 100%;
	height: 300px;
	background-color: #ededed;
	padding: 0 20px;
	margin-top: 30px;
}
.search-box {
	width: 100%;
	background-color: #ededed;
	padding: 20px;
	margin-top: 20px;
}
.an-filter-select {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 0;
  float: left;
  height: 45px;
  margin: 0;
  overflow: hidden;
  padding: 6px 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  width: 80px;
}
.an-filter-select:hover {
	height: 150px;
}
.an-filter-item {
	float: left;
	margin-top: 15px;
	width: 100%;
}
.social ul li {
  display: inline;
  list-style: outside none none;
  margin: 0;
}
header {
  border-bottom: 4px solid #6a6a6a;
  float: left;
  padding: 20px 0;
  width: 100%;
}
.social  ul {
	margin-bottom: 0px;
}
.logo img {
  margin: 10px 0;
}
.login-button, .sign-up-button {
  background-color: #1fbba6;
  border: medium none;
  color: #ffffff;
  float: right;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0 0 0 3px;
  padding: 6px 10px 8px;
  text-transform: capitalize;
}
.search-list table { 
	width: 100%;
	margin: 20px 0px;
}
.search-list table th {
  background-color: #dddddd;
  color: #6e6e6e;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.search-list table td {
  background-color: #dddddd;
  color: #6e6e6e;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
.search-list table tr.even td {
	background-color: #ffffff;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}
.search-list table tr.odd td {
	background-color: #f7f7f7;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.search-list table tr td:last-child {
	border-right: 1px solid #e0e0e0;
}
.search-for-image {
  background-color: #ffffff;
  border: medium none;
  color: #bdbdbd;
  font-family: arial;
  font-size: 19px;
  font-weight: bold;
  padding: 13px 20px;
  width: 80%;
}
.search-butoon {
  background-color: #1fbba6;
  border: medium none;
  color: #ffffff;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  padding: 13px 20px;
  width: 19%;
}
.left-sidebar {
  background-color: #ededed;
  margin: 20px 0 0;
}
.heading-bar h1 {
  color: #b7b7b7;
  float: left;
  font-family: arial;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 32px;
  font-size: 26px;
}
.heading-bar h1 img {
  float: left;
  margin: 0px 10px 0px 0px;
}
.views {
  float: right;
  margin: 20px 0;
}
.views > li {
  display: inline;
  list-style: outside none none;
}
.views li a i {
  font-size: 30px;
  color: #d9d9d9;
}
.views li a i:hover, .views li a.active i {
  color: #1fbba6;
}
.product-listing {
  float: left;
  width: 100%;
}
.box,.product-listing > li {
  background-color: #ffffff;
  box-shadow: 0 0 7px #aaaaaa;
  display: inline;
  float: left;
  list-style: outside none none;
  margin-bottom: 20px;
  margin-right: 2%;
  padding: 0px 4px;
  width: 31%;
  position: relative;
}


.add-button {
  background-color: #ffffff;
  border: medium none;
  border-radius: 7px;
  color: #797979;
  float: right;
  font-family: arial;
  font-weight: bold;
  padding: 5px 12px;
  text-transform: uppercase;
  position: absolute;
  right: 50px;
  top: 10px;
}
.product-listing a {
  background-color: #ffffff;
  border-radius: 7px;
  color: #797979;
  float: right;
  font-size: 23px;
  line-height: 11px;
  margin: 0;
  padding: 5px 12px;
  position: absolute;
  right: 8px;
  top: 10px;
}
.product-listing li img {
  margin: 4px 0;
  width: 100%;
}
.product-listing li p {
  color: #636363;
  float: left;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 10px;
  width: 100%;
}
.product-listing li p span {
	float: right;
}
.pagination {
  float: left;
  height: 50px;
  position: relative;
  text-align: center;
  width: 100%;
}
.pagination li {
  display: inline;
  list-style: outside none none;
}
.pagination li a {
  background-color: #ffffff;
  color: #636363;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  margin: 0 3px;
  padding: 10px 18px;
  display: inline-block;
}
.an-filter-selected {
  background-color: #ffffff;
  color: #636363;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 10px;
}
.pagination li a:hover {
  background-color: #28cbb5;
  color: #fff;
  text-decoration: none;
}
.pagination ul.an-filters-list  {
	width: 100%;
	float: left;
	margin: 12px 0 0;
}
.pagination .an-filters-list li {
  display: inline;
  list-style: outside none none;
  margin: 0;
}
.recyle h2, .checkout h2 {
  background-color: #dddddd;
  color: #6e6e6e;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  line-height: 28px;
  margin: 0 0px 0px;
  padding: 10px 15px;
}

.recyle h2 i, .checkout h2 i {
	color: #545454;
	font-size: 26px;
	margin: 0px 10px 0px 0px;
	float: left;
}
.recyle, .checkout {
	background-color: #fff;
	margin: 20px -15px 0px 10px;
}
.recycle-thumb {
  padding: 15px;
}

.recycle-thumb li {
  list-style: none;
  display: inline;
}
.recycle-thumb a {
  border: 4px solid #ffffff;
  box-shadow: 0 0 7px #aaaaaa;
  display: inline-block;
  margin: 0 10px 0 0;
  width: 68px;
}
.checkout > table {
  margin: 15px 0;
  text-align: center;
  width: 100%;
}
.search-list.checkout-table {
	height: auto;
	overflow: auto;
	background-color: transparent;
	margin: 0px;
}
footer {
	width: 100%;
	background-color: #4d4e50;
	padding: 10px 0;
	margin: 30px 0px 0px;
}
.copyright {
  color: #c2c2c2;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  float: left;
}
.copyright span {
  color: #fff;
  font-style: italic;
}
.payment {
  float: right;
  margin: 0px;
} 
.payment li {
  display: inline;
  list-style: none;
  margin: 0px 0px 0px 10px;
} 










